# Local Terraform state
*.tfstate
*.tfstate.backup

# Crash logs
crash.log

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Terraform plan files
*.tfplan

# Terraform directories
.terraform/

# Optional: Environment variable files
*.tfvars
*.tfvars.json
